.dank {
    display: hidden;
}

#dank-bernie {
    right: 0px;
    bottom: 100%;
    opacity: 50%;
}

.dank-text {
    font-style: italic;
    color: #AAAAAA;
}

/* Hide Bernie on very small screens (sorry Bernie) */
@media (max-width: 400px) {
    #dank-bernie {
        display: none !important;
    }
}
