body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #152A38;
    color: white;
    min-width: 350px;
    cursor: default;
}



.timer-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: 2px 3px 55px black;
    box-shadow: inset 0em 0em 2em #0f1c26;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.timer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}

.timer span {
    display: block;
    text-align: left;
}

.timer {
    font-size: 3rem;
    font-weight: bold;
    white-space: nowrap;
}



.subtext {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #f0f0f0;
    align-self: flex-start;
}

.subtext-dynamic {
    width: 290px;
    text-align: left;
}



.charity-banner {
    background-color: #556E53;
    padding: 20px;
    font-size: 1.5rem;
    padding-bottom: 40px;
}

#charities-of-the-month {
    margin-top: 1rem;
    margin-bottom: 0.2rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 0px 0px 10px #2A3729;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#show-them-some-love {
    margin-bottom: 1.0rem;
    font-size: 1.0rem;
    font-style: italic;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.charity-container {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.charity-wrapper {
    display: none;
    flex-direction: row;
    gap: 20px;
    opacity: 0;
}

#charity-wrapper-1 {
    display: flex;
    opacity: 100;
}

.charity-btn {
    flex: 1;
    cursor: pointer;
    min-width: 100px;
}

.charity-btn img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    box-shadow: 0px 0px 10px #2A3729;
}

.charity-blurb {
    flex: 3;
    text-align: left;
}



.quote-2025 {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-shadow: 0px 0px 10px #0A131A;
}

.quote-2025 a:visited {
    color: white;
    text-decoration: none;
}



.offenses-table {
    margin: 20px;
    margin-top: 0px;
    padding-left: 10%;
    padding-right: 10%;
}

.offenses-table td:first-child {
    text-wrap: nowrap;
}

.offenses-table td {
    padding: 5px;
    padding-bottom: 10px;
    vertical-align: text-top;
}

.offenses {
    margin: 20px;
    text-align: left;
    font-size: 1rem;
}

.offenses a {
    color: #00aced;
    text-decoration: none;
}

.offenses a:hover {
    text-decoration: underline;
}



footer {
    background-color: #29435C;
    padding: 10px;
    font-size: 0.85rem;
    margin-top: 20px;
    color: #D1D4C9;
}

footer a {
    color: #00aced;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#invertocat {
    width: 1.5em;
    vertical-align: bottom;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .timer {
        font-size: 2.5rem;
    }

    .subtext {
        font-size: 1.2rem;
    }

    .subtext-dynamic {
        width: 235px;
    }

    .charity-banner {
        font-size: 1.2rem;
    }

    .charity-container {
        max-width: 95%;
    }

    .events-list {
        font-size: 1rem;
    }

    footer {
        font-size: 0.9rem;
    }

    .offenses-table {
        padding-left: 5%;
        padding-right: 5%;
        margin: 0px;
    }
}


/* Brief-only */
@media (max-width: 400px) {
    .timer {
        font-size: 2rem;
    }

    .subtext {
        font-size: 0.9rem;
    }

    .subtext-dynamic {
        width: 185px;
    }
}

.credits {
    position: absolute;
    display: flex;
    bottom: 0vh;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    margin-bottom: 1vh;
}

.logo {
    min-width: 36px;
    min-height: 36px;
    cursor: pointer;
    margin-right: 4px;
}

.title {
    align-content: end;
    cursor: pointer;
}
